{{- if and .Values.registryCredentials.enabled (not .Values.registryCredentials.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "image-validator-webhook.credentialsSecretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "image-validator-webhook.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.registryCredentials.dockerConfigJson }}
  DOCKER_CONFIG_JSON: {{ .Values.registryCredentials.dockerConfigJson | quote }}
  {{- end }}
  {{- range .Values.registryCredentials.registries }}
  REGISTRY_{{ .name }}_URL: {{ .url | quote }}
  REGISTRY_{{ .name }}_USERNAME: {{ .username | quote }}
  {{- if .password }}
  REGISTRY_{{ .name }}_PASSWORD: {{ .password | quote }}
  {{- else if .token }}
  REGISTRY_{{ .name }}_TOKEN: {{ .token | quote }}
  {{- end }}
  {{- end }}
  {{- if .Values.registryCredentials.default }}
  DEFAULT_REGISTRY_URL: {{ .Values.registryCredentials.default.url | quote }}
  DEFAULT_REGISTRY_USERNAME: {{ .Values.registryCredentials.default.username | quote }}
  DEFAULT_REGISTRY_PASSWORD: {{ .Values.registryCredentials.default.password | quote }}
  {{- end }}
{{- end }}
